{% extends 'main/base.html' %}
{% block content %}
    <div class="col-md-6">
    <legend class="border-bottom mb-4">{{ legend }}</legend>
        <form action="{{ url_for('jokes.update', joke_id=joke.id) }}" method="POST">
            {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}
            <button type="submit" class="btn">Редактировать</button>
        </form>
    </div>
{% endblock content %}
